@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1720699572177') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\f010d";
}

.icon-fenxiang:before {
  content: "\e602";
}

.icon-dingbu:before {
  content: "\e76c";
}

